body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

.header {
    background-color: #f9f9fb;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    color: coral;
}

.menu {
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: lavender;
    padding: 1rem;
}

.menu li {
    display: inline-block;
    margin: 3% 3%;

}

.menu a {
    background-color: rgb(249, 243, 243);
    padding: .5rem 2rem;
    text-decoration: none;
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.menu a:hover {
    background-color: lightgray;
    
    border: 1px dimgrey dashed;
}

.titulo {
    font-size: 2.5rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    color:chocolate;
    font-style: italic;
}



.contenedor {
    display: flex; 
    align-items: center; 
    padding: 20px;
    flex-direction: row;
    border: rgb(249, 243, 243);
    border-style: dashed;
}

.contenedor_reversa {
    display: flex; 
    align-items: center;
    padding: 20px;
    flex-direction: row-reverse;
    border: rgb(249, 243, 243);
    border-style: dashed;
}

.contenedor_arriba {
    display: flex; 
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border: rgb(249, 243, 243);
    border-style: dashed;
}

.contenedor_abajo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column-reverse;
    border: rgb(249, 243, 243);
    border-style: dashed;
}

.contenedor_img {
    padding: 20px;
    margin: 20px;
    max-width:50%;
}

.contenedor_img img {   
    height: 300px;
    margin-right: 25px;
    border-radius: 15px;
    max-width: 100%;
}

img:hover{
    height: 400px;
    border: gray;
    border-style: dotted;
}

.texto {
    
    margin: 15px;
    color: darkred;
    max-width:50%;
}

.texto:hover{
    background-color: bisque;
}

form{
    color: firebrick;
    font-weight: 600;
}

